@model TallinnaRakenduslikKolledz.Models.Delinquent

@{
	ViewData["Title"] = "Muuda korrarikkuja andmeid";
}

<h1>Muuda korrarikkuja andmeid</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="DelinquentId"/>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Violation"></label>
				<br />
				<select asp-for="Violation" class="control-label" asp-items="Html.GetEnumSelectList<Violations>()">
					<option value=""> --Palun vali violation-- </option>
				</select>
				<span asp-validation-for="Violation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Situation" class="control-label"></label>
				<input asp-for="Situation" class="form-control" />
				<span asp-validation-for="Situation" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TeacherOrStudent" class="control-label"></label>
				<input asp-for="TeacherOrStudent" class="form-control" />
				<span asp-validation-for="TeacherOrStudent" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Muuda" class="btn btn-primary" />
			</div>

		</form>
	</div>
</div>
<div>
	<a asp-action="Index">Mine tagasi loendisse</a>
</div>